<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>All Books</h1>
{% for books in object_list %}
    <ul>
    <li>Title: {{ books.title }}</li>
    <li>Title: {{ books.subtitle }}</li>
    <li>Title: {{ books.author }}</li>
    <li>Title: {{ books.isbn }}</li>
    </ul>
{% endfor %}
</body>
</html>